<%!
# retrieve settings
isLite = (cherrypy.config['product_type'] == 'lite' or cherrypy.config['product_type'] == 'lite_free')

if cherrypy.config['product_type'] == 'hunk':
    faviconFile = 'favicon_hunk.ico'
elif isLite:
    faviconFile = 'favicon_lite.ico'
else:
    faviconFile = 'favicon.ico'

faviconFilePath = '/static/img/' + faviconFile

config_qs = dict(autoload=1)
if hasattr(cherrypy.request, 'embed') and cherrypy.request.embed:
    config_qs['embed'] = 1
%>\

<%
''' Page-level execution. Executed once per load '''
minify_js = splunk.util.normalizeBoolean(cherrypy.config.get('minify_js'))
minify_css = splunk.util.normalizeBoolean(cherrypy.config.get('minify_css'))

app_name = app

splk_root = "/static"
splk_css_build = splk_root + "/css/build"
splk_js = splk_root + "/js"
splk_js_contrib = splk_js + "/contrib"
splk_js_profiles = splk_js + "/profiles"

app_root = "/".join([splk_root,"app",app_name])
app_img = app_root + "/img"

app_js = app_root + '/js'
app_js_pages = app_js + "/pages"
app_js_profiles = app_js + "/profiles"
app_js_contrib = app_js + '/contrib'

app_less = app_root + "/less"

app_js_build = app_root + '/js/build'
app_css_build = app_root + '/css'

pageJSName = page+'_page'

# optimized js and css
# app_css ="%s/common.css" % app_css_build
app_css ="%s/%s.css" % (app_css_build, page)
splunk_css = "%s/bootstrap.min.css" % splk_css_build
page_css = "%s/pages/%s/bootstrap.css" % (app_css_build ,str(page))

page_common_js = "%s/common.js" % app_js_build
page_js = "%s/%s.js" % (app_js_build ,pageJSName)
page_less = "%s/pages/%s/bootstrap.less" % (app_less ,page)

%>\

<!doctype html>
<!--[if lt IE 7]> <html lang="${i18n.current_lang()[0]|h}" class="no-js ie  lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="${i18n.current_lang()[0]|h}" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="${i18n.current_lang()[0]|h}" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html lang="${i18n.current_lang()[0]|h}" class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="${i18n.current_lang()[0]|h}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>${_('Loading...')}</title>
    <meta name="description" content="listen to your data" />
    <meta name="author" content="Splunk Inc." />
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <link rel="shortcut icon" href="${make_url(faviconFilePath)}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="${make_url('/static/img/bookmark/apple-icon-57x57-precomposed.png')}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="${make_url('/static/img/bookmark/apple-icon-72x72-precomposed.png')}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="${make_url('/static/img/bookmark/apple-icon-114x114-precomposed.png')}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="${make_url('/static/img/bookmark/apple-icon-144x144-precomposed.png')}" />
    <meta name="msapplication-TileColor" content="#65A637">
    <meta name="msapplication-TileImage" content="${make_url('/static/img/bookmark/ms-tileicon-144x144.png')}">

    <link rel="stylesheet" type="text/css" media="all" href="../../../static/js/contrib/select2-3.4.6/select2.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../../static/css/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../../static/app/search/dashboard.css" />

    <link rel="stylesheet" type="text/css" media="all" href="${make_url(app_css)}" />
</head>
<body s:app="${app_name}">
    <div class="preload">
        <div id="placeholder-splunk-bar">
            <a href="/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>
                &gt;</strong></a>
        </div>
        <div id="placeholder-app-bar">
        </div>
    </div>

    <div class="addonContainer"></div>
    <div class="dialog-placeholder"></div>
    <!-- live to code, code to live... -->
    <script src="${make_url('/config', _qs=config_qs)}"></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <script>
    __splunkd_partials__ = ${json_decode(splunkd)};
    </script>
    % if minify_js:
        <script src="${make_url(page_common_js)}"></script>
        <script src="${make_url(page_js)}"></script>
    % else:
        <script src="${make_url(splk_js_contrib + '/require.js')}"></script>
        <script src="${make_url(splk_js_profiles + '/shared.js')}"></script>
        <script>
            require.config({
                baseUrl: "${make_url('/static/js')}",
                shim: {
                    'bootstrap': {
                        deps: ['jquery']
                    },
                    'select2': {
                        deps: ['jquery']
                    }
                },
                paths: {
                    'app': '../app/${app_name}/js',
                    'lib': '../app/${app_name}/js/lib',
                    'bootstrap': '../app/${app_name}/bootstrap/js/bootstrap.min',
                    'select2': '../app/${app_name}/js/lib/select2-3.5.2'
                },
                enforceDefine: false,
                waitSeconds: 0
            });
        </script>
        <script>
            require(['../app/${app_name}/js/pages/${pageJSName}']);
        </script>
    % endif
    </body>
</html>
